.header {
  @apply absolute top-0 z-10 w-full bg-transparent;
}

.icon-scroll {
  @apply absolute left-2/4 bottom-[10px] w-[30px] h-[50px] -ml-5 -mt-[35px] rouned-[25px];
  border: 2px solid rgb(var(--color-white));

  &:before {
    @apply absolute left-2/4;
  }
}

@media (max-width: 767px) {
  .icon-scroll {
    @apply relative;
  }
}

.animate-scroll {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    @apply opacity-100;
  }

  100% {
    @apply transform translate-y-[5px];
  }
}
